---
title: Gipuzkoako Bidegorriak
---

<h1 class="visuallyhidden">Gipuzkoako bidegorriak</h1>
<div id="bidegorri-map">
	<div class="credits">
		<p class="bidegorri-logo">
			<img src="images/logo.png" alt="Gipuzkoako bidegorriak" />
		</p>
		<p>Hemen duzu Gipuzkoako bidegorri sarearen mapa bat.</p>
		<p>Akatsen bat du oraindik baina <a href="https://github.com/bardulia/bidegorriak">Github</a>-en dago kodea, berrerabili edo falta diren bidegorrien <abbr title="Geography Markup Language">GML</abbr>ak gehitu nahi izanez gero.</p>
		<p>Txintxo ibili.</p> 
		<p class="small-credit">Maparen datuak © <a href="http://www.openstreetmap.org/">OpenStreetMap</a>en kolaboratzaileak, <a href="http://creativecommons.org/licenses/by-sa/2.0/" title="Creative Commons &mdash; Attribution-ShareAlike 2.0 Generic
		  &mdash; CC BY-SA 2.0">CC BY-SA</a> lizentziapean eta <a href="http://b5m.gipuzkoa.net">b5m</a></p>
	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33742263-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>